*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px;
}

.post {
    display: flex;
    padding: 20px;
    border: 2px solid #7574A7;

    border-radius: 10px;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
}

